body {
    width:100%;
    height:100%;
    margin:0;
    color:white;
    font-family: 'Lato', sans-serif;
    animation: bg-anim 30s infinite;
    overflow:hidden;
    font-size: 1em;
    --select: rgba(0, 89, 221, 1);
    --select-r: 0;
    --select-g: 89;
    --select-b: 221;
}

@keyframes bg-anim {
    0% {background-color: rgb(10, 24, 39);}
    33%{background-color:rgb(4, 12, 54);}
    66% {background-color: rgb(18, 5, 47);}
    100%{background-color: rgb(10, 24, 39);}
}

/* GENERAL */
.black {
    color:black;
}
.white {
    color:white;
}

.bold {
    font-weight: bold;
}
.regular {
    font-weight: normal;
}

.normal {
    font-size:1em;
}
.medium {
    font-size:2em;
}
.big {
    font-size:3em;
}

.sans-serif {
    font-family: 'Lato', sans-serif;
}

.small-window {
    background-color:white;
    border:2px solid black;
    min-width:70%;
    min-height:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: default;
}

.centered {
    /* padding:20% 5%; */
    margin: 20% 5%;
}

.absolute {
    position:absolute;
}

.blurred, .heavy-blurred, .light-blurred { /* backdrop-filter is not supported in latest version of firefox, so a polyfill is used.*/
    background-color: rgba(255, 255, 255, 1);
}

/* END GENERAL */


/* FORMS */

/* INPUTS */
.fancy-input {
    border:4px solid black;
    font-size:1.4em;
    padding:5px 5px;
    transition: background-color 0.3s, border 0.3s;
}
.fancy-input:hover {
    background-color: rgb(231, 231, 231);
}
.fancy-input:focus {
    border-bottom: 4px solid blue;
    background-color: rgb(255, 255, 255);
}
.fancy-input-label {
    font-size:1.4em;
}
/* END INPUTS */

/* BUTTONS */
.form-button {
    border:4px solid black;
    background-color:rgb(42, 255, 52);
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    padding:10px 10px;
    font-size:1.3em;
    cursor:pointer;
    transition: background-color 0.3s, font-size 0.3s;
}
.form-button:hover {
    background-color:rgb(43, 255, 166);
    
}

/* GENERIC WEBSYSTEM BUTTON BELOW */
button {
    border: 1px solid rgb(180,180,180);
    border-radius:4px;
    background-color: unset;
    background-image: linear-gradient(0, rgb(253,253,253), rgb(255,255,255));
    display:block;
    font-size:0.7em;
    cursor: pointer;
    color: black;
    padding: 0.4em 1em;
    outline: none;
}
button.default-button {
    color: white;
    background-image: linear-gradient(0, rgb(calc(var(--select-r) * 1.1), calc(var(--select-g) * 1.1), calc(var(--select-b) * 1.1)), rgb(min(230, calc(var(--select-r) * 1.4)), min(230, calc(var(--select-g) * 1.4)), min(230, calc(var(--select-b) * 1.4))));
    border-color: rgb(7,84,207);
}
button:active {
    color: white;
    background-image: linear-gradient(0, rgb(calc(var(--select-r) * 1.1), calc(var(--select-g) * 1.1), calc(var(--select-b) * 0.9)), rgb(min(240, calc(var(--select-r) * 1.4)), min(240, calc(var(--select-g) * 1.4)), min(240, calc(var(--select-b) * 1.4))));
    border-color: rgb(7,84,207);
}
/* END BUTTONS */

/* GENERIC WEBSYSTEM SWITCH */
input[type="checkbox"].switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    width: 4em;
    height: 2em;
    background-color: rgb(253,253,253);
    border: 1.5px solid rgb(36, 36, 36);
    transition: background-color 0.2s;
    border-radius: 1em;

    display: inline-block;

    position: relative;

    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
input[type="checkbox"].switch:focus {
    outline: 0;
}
input[type="checkbox"].switch:checked {
    background-color: rgb(255, 255, 255);
}
input[type="checkbox"].switch::after {
    content: "";
    width:40%;
    height:84%;
    position: absolute;
    left:4%;
    top:8%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
input[type="checkbox"].switch:checked::after {
    transform: translateX(128%);
    background-color: var(--select);
}

/* END FORMS */

/* LOADING */
.spinner {
    height:96px;
    width:96px;
    display:block;
    position: absolute;
    top:30%;
    left:50%;
    margin-left:-48px;
    margin-top:-48px;
    border: 10px solid rgba(150, 150, 150, 0.2);
    border-radius: 50%;
    border-top-color: rgb(150,150,150);
    animation: rotate 1s 0s infinite ease-in-out alternate;
    z-index:2;
}
@keyframes rotate {
    0%{transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
.spinner-text {
    position: absolute;
    top:50%;
    width: 100%;
    text-align:center;
    z-index:2;
}
.screen-cover {
    position:absolute;
    z-index:1;
    background-color:black;
    width:100%;
    height:100%;
}
.loading {
    opacity:0;
    transition: opacity 0.3s;
}
.load-fade {
    opacity:1;
}
/* END LOADING */

/* DESKTOP */
.desktop {
    height:100%;
    width:100%;
    padding: 1em 1em;
}
.desktop-background {
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width:100%;
    min-height: 100%;
    /* object-fit: cover; */
    object-position: bottom;
}
.main-content {
    position:absolute;
    top:1.7em;
    height:calc(100% - 5.7em);
    overflow:hidden;
    width:100%;
}
.icon {
    cursor: pointer;
    max-width:7em;
    height:5em;
    display:block;
    margin:auto;
}
.clickable {
    cursor: pointer;
}
.icon-container {
    min-width:7em;
    max-width:7em;
    text-align:center;
    display: inline-block;
    margin:0.5em 0.5em;
    min-height:8em;
    vertical-align: middle;
}
.icon-container img {
    border: 2px solid rgba(0, 0, 0, 0);
}

.icon-container div {
    display:inline-block;
    max-height:2.55em;
    max-width:100%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 10px rgba(151, 151, 151, 0.5);
    padding: 0 3px;
    color: black;
    /* white-space: nowrap; Adds ellipsis but constrains to one line.
    text-overflow: ellipsis; */
}
:not(.icon-container[name*=" "]).icon-container div { /* Selects all text in 'icon-container's that doesn't have spaces, and makes it so they break at the end of the width so they don't just cut off */
    word-break: break-all;
}
.desktop-text {
    text-shadow: 0 0 4px rgba(0, 0, 0, 1) !important;
    color: white !important;
}
.icon-selected img {
    background-color:rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.411);
    z-index:1;
}
.icon-selected div {
    background-color:var(--select);
    border: 2px solid var(--select);

    color:white;
    border-radius:4px;
    z-index:0;
    display:inline-block;
}

.icon-rename div {
    background-color:rgba(0, 119, 255, 0.658);
    padding-left:3px;
    padding-right:3px;
}

.folder-move-in img {
    background-color:rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.411);
    z-index:1;
}
.folder-move-in div {
    background-color:rgb(114, 114, 114);
    border: 2px solid rgb(110, 110, 110);

    color:white;
    border-radius:4px;
    z-index:0;
    display:inline-block;
}
.background-drop-move-in[path$="Desktop/"] { /* Matches the desktop when moved in */
    -webkit-backdrop-filter: brightness(0.95);
    backdrop-filter: brightness(0.95);
}
:not(.background-drop-move-in[path$="Desktop/"]).background-drop-move-in { /* Matches anything else when moved in */
    -webkit-filter: brightness(0.95);
    filter: brightness(0.95);
}
.multiple-text {
    text-align: center;
    color:white;
    background-color:var(--select);
    border: 2px solid var(--select);
    border-radius:10px;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-bottom: 0.3em;
    font-size:1.4em;
    font-weight:bold;
}
.file-box-selection {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
}
.window {
    background-color:white;
    z-index:1;
    /*resize:both; Doesn't work */
    width:20em;
    height:20em;
    border:2px solid black;
    left:3em;
    top:3em;
    opacity:0;
    overflow: hidden;
    color: black;
}
.window-fast {
    transition: opacity 0.15s;
}
.window-slow {
    transition: opacity 0.3s;
}

.window-header {
    background-color:black;
    cursor:move;
    color:white;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.2em;
}

.resize {
    position:absolute;
    width:0.7em;
    height:0.7em;
    background-color:grey;
    right:0em;
    bottom:0em;
    opacity: 0;
    cursor: se-resize;
}
.resize:active {
    cursor: nwse-resize;
}

.close {
    position:absolute;
    right:0;
    top:0;
    margin-top:0.2em;
    width:1em;
    height:0.9em;
    background-color:red;
    text-align:center;
}
.right-click {
    width:0; /* Hack because display changes opacity for some reason */
    height:0;
    border:0;
    background-color: rgba(255, 255, 255, 0.9);
    opacity:0;
    z-index:100;
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.2); /* Box Shadow */
    color: black;
    font-size:0.95em;
}
.right-click-visible {
    width:10em;
    height:8em;
    border:2px solid black;
    border-radius: 0.3em;
    opacity:1;
}
.right-click-invisible {
    opacity:0;
    width:10em;
    height:8em;
    border:2px solid black;
    border-radius: 0.3em;
}
.right-click-fast {
    transition:opacity 0.15s;
}
.right-click-slow {
    transition:opacity 0.4s;
}

.right-click-menu-member {
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    padding: 0.1em 0.5em;
    margin:0.2em 0;
}
.right-click-menu-member:hover {
    background-color:var(--select);
    color:white;
}
.right-click-menu-member-no-hover {
    width: 10em;
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    height:0.15em;
    margin-top:0.3em;
    margin-bottom:0px;
    background-color:rgba(0, 0, 0, 0.12);
    border:none;
}
/* END DESKTOP */

/* FILE SYSTEM */
.file-back-container {
    display:inline;
    margin-right:0.2em;
    cursor: pointer;
}
.file-back {
    filter: invert(100%);
    transform: scaleX(-1);
    width:1em;
    transition: filter 0.1s;
}
.file-back:active {
    filter: invert(80%);
}
.file-sidebar {
    flex-grow: 1;
    max-width: 10.8em;
    min-width: 8em;
    background-color: rgba(228, 228, 228, 0.96);
    color: rgb(2, 6, 14);
    overflow:auto;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.file-sidebar file-heading { /* Subheading things */
    font-weight: bold;
    font-size:1em;
    margin: 0.2em 0.2em;
}
.file-member {
    position: relative;
}
.file-sidebar .file-member { /* Subheading things */
    font-weight: normal;
    font-size:0.9em;
    margin: 0.4em 1.2em;
    display: block;
}
.file-sidebar .file-member.file-member-selected { /* Selected subheading things */
    background-color: rgba(0, 0, 0, 0.08);
}
.ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-member-deleter {
    position: absolute;
    right:0.3em;
    top:0.6em;
    display:inline-block;
    transition: opacity 0.35s;
    opacity:0;
    color: white;
    background-image: url("../assets/fileviewerx.png");
    background-size:0.6em;
    width: 0.6em;
    height:0.6em;
}
.file-member:hover .file-member-deleter {
    opacity:1;
}
.file-member:hover .file-member-text {
    width:65%;
}
.file-member-text {
    display:inline-block;
    width:70%;
}
/* END FILE SYSTEM */

/* TOP BAR */
.top-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 1.7em;
    z-index:51;
    position: absolute;
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.2); /* Box Shadow */
    color: black;
}
.top-bar-time {
    margin-top:0.2em;
    margin-right:0.3em;
    float: right;
}
.top-bar-wifi {
    margin-top:0.35em;
    margin-right:0.4em;
    max-height: 1em;
    min-width:1em;
    float: right;
}
.top-bar-top-item {
    display: inline-block;
    margin: 0 0.2em;
    padding: 0.1em 0.6em;
    padding-bottom: 0.1em;
    transition: background-color 0.1s, color 0.1s;
}
.top-bar-top-name {
    font-weight: bolder;
    margin-top: -0.1em;
    padding: 0 0;
    color:rgb(0, 0, 0);
    max-width:20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-bar-top-specific-item {
    font-weight: normal;
}
.top-bar-top-specific-item::first-letter {
    text-decoration: underline;
}
.top-bar-top-item-selected {
    background-color:var(--select);
    color:white;
}
.top-bar-menu {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 6px;
    position: absolute;
    top:1.6em;
    padding: 4px 4px;
    color:black;
    transition: opacity 0.2s;
    opacity: 1;
    z-index:50;
}
.top-bar-menu-invisible {
    opacity: 0;
}
.top-bar-menu-item:hover {
    background-color:var(--select);
    color:white;
}
.top-bar-menu-item {
    transition: background-color 0.1s, color 0.1s;
    padding: 0.1em 0.5em;
    margin:0.2em 0;
    cursor: default;
}
.top-bar-menu-item-unavailable {
    color: rgb(161, 161, 161);
}
.top-bar-menu-item-unavailable:hover {
    color: rgb(161, 161, 161);
    background-color:unset;
}
.top-bar-menu-line {
    width: 10em;
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    height:0.15em;
    margin:0.3em 0;
    background-color:rgba(0, 0, 0, 0.12);
    border:none;
}
/* END TOP BAR */

/* DOCK */
.dock-bar {
    height:4em;
    width:100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 999;
    bottom:0;
    overflow-x:auto;
    overflow-y: hidden;
    white-space:nowrap;
}
.dock-bar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.dock-bar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.dock-bar::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.dock-bar::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.dock-bar::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.dock-bar::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.dock-bar::-webkit-scrollbar-track:hover {
  background: #666666;
}
.dock-bar::-webkit-scrollbar-track:active {
  background: #333333;
}
.dock-bar::-webkit-scrollbar-corner {
  background: transparent;
}
.dock-app-container {
    width: 5em;
    height: 4em;
    margin-right: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.2s;
}
.dock-app-container:hover {
    background-color:rgba(255, 255, 255, 0.2);
}
.dock-app-thumbnail {
    max-width: 5em;
    height: 3em;
}
.dock-app-container:active .dock-app-thumbnail, .dock-app-thumbnail:active {
    filter: brightness(0.5);
}
.dock-separator {
    width:0.3em;
    background-color: rgba(255,255,255, 0.1);
    height:80%;
    display:inline-block;
    margin-right: 1em;
}
.dock-menu {
    min-width:4em;
    background-color:rgba(255,255,255, 0.97);
    position: absolute;
    z-index:100;
    bottom:4.8em;
    border-radius: 0.3em;
    color: black;
    cursor: default;
}
.dock-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-top: 0.8em solid rgba(255,255,255, 0.97);
    position: absolute;
    bottom:-0.78em;
    left:0.6em;
    z-index: -1;
}
@keyframes bounce {
    0% {
        transform: translateY(0em);
    }
    50% {
        transform: translateY(-0.5em);
    }
    100% {
        transform: translateY(0em);
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes move-app-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2.5em);
    }
}
/* END DOCK */


/* Important stuff that shouldn't use !important */
.no { /* Used to indicate the user cannot or should not do something with the element */
    cursor: url("../assets/licensed/no.cur"), url("../assets/licensed/no.png"), not-allowed !important;
    /* That !important is certainly wrong, but I am not sure of any other way for this to work. */
}


/* SUPPORTS */
@supports ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
    .blurred {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .heavy-blurred {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
    }
    .light-blurred {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(50px);
    }
    .file-sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        /* Lower the brightness */
        backdrop-filter: blur(10px) brightness(60%);
        -webkit-backdrop-filter: blur(10px) brightness(60%);
    }
    .top-bar {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .dock-menu {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .dock-menu::before {
        border-top: 0.8em solid rgba(255,255,255, 0.5);
        /* The below is a pseudo-element so can;t have the heavy-blurred class. */
        /* -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px); */
    }
}

/* 
REFERENCES:

Cursor: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
SVG Arrow: https://iconmonstr.com/arrow-20-svg/

*/