body {
    width:100%;
    height:100%;
    margin:0;
    color:white;
    font-family: 'Lato', sans-serif;
    animation: bg-anim 30s infinite;
    overflow:hidden;
}

@keyframes bg-anim {
    0% {background-color: rgb(10, 24, 39);}
    33%{background-color:rgb(4, 12, 54);}
    66% {background-color: rgb(18, 5, 47);}
    100%{background-color: rgb(10, 24, 39);}
}

/* GENERAL */
.black {
    color:black;
}
.white {
    color:white;
}

.bold {
    font-weight: bold;
}
.regular {
    font-weight: normal;
}

.normal {
    font-size:1em;
}
.medium {
    font-size:2em;
}
.big {
    font-size:3em;
}

.sans-serif {
    font-family: 'Lato', sans-serif;
}

.small-window {
    background-color:white;
    border:2px solid black;
    min-width:70%;
    min-height:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: default;
}

.centered {
    /* padding:20% 5%; */
    margin: 20% 5%;
}

.absolute {
    position:absolute;
}

.blurred, .heavy-blurred, .light-blurred { /* backdrop-filter is not supported in latest version of firefox, so a polyfill is used.*/
    background-color: rgba(255, 255, 255, 1);
}
/* END GENERAL */


/* FORMS */

/* INPUTS */
.fancy-input {
    border:4px solid black;
    font-size:1.4em;
    padding:5px 5px;
    transition: background-color 0.3s, border 0.3s;
}
.fancy-input:hover {
    background-color: rgb(231, 231, 231);
}
.fancy-input:focus {
    border-bottom: 4px solid blue;
    background-color: rgb(255, 255, 255);
}
.fancy-input-label {
    font-size:1.4em;
}
/* END INPUTS */

/* BUTTONS */
.form-button {
    border:4px solid black;
    background-color:rgb(42, 255, 52);
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    padding:10px 10px;
    font-size:1.3em;
    cursor:pointer;
    transition: background-color 0.3s, font-size 0.3s;
}
.form-button:hover {
    background-color:rgb(43, 255, 166);
    
}

/* GENERIC WEBSYSTEM BUTTON BELOW */
button {
    border: 1px solid rgb(180,180,180);
    border-radius:4px;
    background-color: unset;
    background-image: linear-gradient(0, rgb(253,253,253), rgb(255,255,255));
    display:block;
    font-size:0.7em;
    cursor: pointer;
    color: black;
    padding: 0.4em 1em;
    outline: none;
}
button.default-button {
    color: white;
    background-image: linear-gradient(0, rgb(81, 143, 241), rgb(120, 172, 255));
    border-color: rgb(7,84,207);
}
button:active {
    color: white;
    background-image: linear-gradient(0, rgb(7,84,207), rgb(74,144,254));
    border-color: rgb(7,84,207);
}
/* END BUTTONS */


/* END FORMS */

/* LOADING */
.spinner {
    height:96px;
    width:96px;
    display:block;
    position: absolute;
    top:30%;
    left:50%;
    margin-left:-48px;
    margin-top:-48px;
    border: 10px solid rgba(150, 150, 150, 0.2);
    border-radius: 50%;
    border-top-color: rgb(150,150,150);
    animation: rotate 1s 0s infinite ease-in-out alternate;
    z-index:2;
}
@keyframes rotate {
    0%{transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
.spinner-text {
    position: absolute;
    top:50%;
    width: 100%;
    text-align:center;
    z-index:2;
}
.screen-cover {
    position:absolute;
    z-index:1;
    background-color:black;
    width:100%;
    height:100%;
}
.loading {
    opacity:0;
    transition: opacity 0.3s;
}
.load-fade {
    opacity:1;
}
/* END LOADING */

/* DESKTOP */
.icon {
    cursor: pointer;
    max-width:7em;
    height:5em;
    display:block;
    margin:auto;
}
.clickable {
    cursor: pointer;
}
.icon-container {
    min-width:7em;
    max-width:7em;
    text-align:center;
    display: inline-block;
    margin:0.5em 0.5em;
    min-height:8em;
    vertical-align: middle;
}
.icon-container img {
    border: 2px solid rgba(0, 0, 0, 0);
}

.icon-container div {
    display:inline-block;
    max-height:2.55em;
    max-width:100%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 10px rgba(151, 151, 151, 0.5);
    /* white-space: nowrap; Adds ellipsis but constrains to one line.
    text-overflow: ellipsis; */
}
.icon-selected img {
    background-color:rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.411);
    z-index:1;
}
.icon-selected div {
    background-color:rgba(0, 89, 221, 1);
    border: 2px solid rgba(0, 89, 221, 1);

    color:white;
    border-radius:4px;
    z-index:0;
    display:inline-block;
}

.icon-rename div {
    background-color:rgba(0, 119, 255, 0.658);
    padding-left:3px;
    padding-right:3px;
}

.window {
    background-color:white;
    z-index:1;
    /*resize:both; Doesn't work */
    width:20em;
    height:20em;
    border:2px solid black;
    left:3em;
    top:3em;
    opacity:0;
    overflow: hidden;
}
.window-fast {
    transition: opacity 0.15s;
}
.window-slow {
    transition: opacity 0.3s;
}

.window-header {
    background-color:black;
    cursor:move;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.resize {
    position:absolute;
    width:0.7em;
    height:0.7em;
    background-color:grey;
    right:0em;
    bottom:0em;
    opacity: 0;
    cursor: se-resize;
}
.resize:active {
    cursor: nwse-resize;
}

.close {
    position:absolute;
    right:0;
    top:0;
    margin-top:0.2em;
    width:1em;
    height:0.9em;
    background-color:red;
    text-align:center;
}
.right-click {
    width:0; /* Hack because display changes opacity for some reason */
    height:0;
    border:0;
    background-color: rgba(255, 255, 255, 0.95);
    opacity:0;
    z-index:100;
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.2); /* Box Shadow */
    color: black;
    font-size:0.95em;
}
.right-click-visible {
    width:10em;
    height:8em;
    border:0.2em solid black;
    border-radius: 0.3em;
    opacity:1;
}
.right-click-invisible {
    opacity:0;
    width:10em;
    height:8em;
    border:0.2em solid black;
    border-radius: 0.3em;
}
.right-click-fast {
    transition:opacity 0.15s;
}
.right-click-slow {
    transition:opacity 0.4s;
}

.right-click-menu-member {
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    padding: 0.1em 0.5em;
    margin:0.2em 0;
}
.right-click-menu-member:hover {
    background-color:rgba(0, 89, 221, 1);
    color:white;
}
.right-click-menu-member-no-hover {
    width: 10em;
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    height:0.15em;
    margin:0.3em 0;
    background-color:rgba(0, 0, 0, 0.12);
    border:none;
}
/* END DESKTOP */

/* FILE SYSTEM */
.file-back-container {
    display:inline;
    margin-right:0.2em;
    cursor: pointer;
}
.file-back {
    filter: invert(100%);
    transform: scaleX(-1);
    width:1em;
    transition: filter 0.1s;
}
.file-back:active {
    filter: invert(80%);
}
.file-sidebar {
    flex-grow: 1;
    width: 100%;
    max-width: 10.8em;
    background-color: rgba(206, 206, 206, 0.98);
    color: rgb(2, 6, 14);
    overflow:auto;
}
.file-sidebar file-heading { /* Subheading things */
    font-weight: bold;
    font-size:1em;
    margin: 0.2em 0.2em;
}
.file-sidebar file-member { /* Subheading things */
    font-weight: normal;
    font-size:0.9em;
    margin: 0.4em 1.2em;
    display: block;
}
.file-sidebar file-member.file-member-selected { /* Selected subheading things */
    background-color: rgba(170, 170, 170, 0.98);
}
.ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* END FILE SYSTEM */


/* SUPPORTS */
@supports ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
    .blurred {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: unset;
    }
    .heavy-blurred {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        background-color: unset;
    }
    .light-blurred {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(50px);
        background-color: unset;
    }
    .file-sidebar {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

/* 
REFERENCES:

Cursor: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
SVG Arrow: https://iconmonstr.com/arrow-20-svg/

*/