body {
    width:100%;
    height:100%;
    margin:0;
    color:white;
    font-family: 'Lato', sans-serif;
    animation: bg-anim 30s infinite;
    overflow:hidden;
}

@keyframes bg-anim {
    0% {background-color: rgb(10, 24, 39);}
    33%{background-color:rgb(4, 12, 54);}
    66% {background-color: rgb(18, 5, 47);}
    100%{background-color: rgb(10, 24, 39);}
}

/* GENERAL */
.black {
    color:black;
}
.white {
    color:white;
}

.bold {
    font-weight: bold;
}
.regular {
    font-weight: normal;
}

.normal {
    font-size:1em;
}
.medium {
    font-size:2em;
}
.big {
    font-size:3em;
}

.sans-serif {
    font-family: 'Lato', sans-serif;
}

.small-window {
    background-color:white;
    border:2px solid black;
    min-width:70%;
    min-height:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: default;
}

.centered {
    /* padding:20% 5%; */
    margin: 20% 5%;
}

.absolute {
    position:absolute;
}

/* END GENERAL */


/* FORMS */

/* INPUTS */
.fancy-input {
    border:4px solid black;
    font-size:1.4em;
    padding:5px 5px;
    transition: background-color 0.3s, border 0.3s;
}
.fancy-input:hover {
    background-color: rgb(231, 231, 231);
}
.fancy-input:focus {
    border-bottom: 4px solid blue;
    background-color: rgb(255, 255, 255);
}
.fancy-input-label {
    font-size:1.4em;
}
/* END INPUTS */

/* BUTTONS */
.form-button {
    border:4px solid black;
    background-color:rgb(42, 255, 52);
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    padding:10px 10px;
    font-size:1.3em;
    cursor:pointer;
    transition: background-color 0.3s, font-size 0.3s;
}
.form-button:hover {
    background-color:rgb(43, 255, 166);
    
}
/* END BUTTONS */


/* END FORMS */

/* LOADING */
.spinner {
    height:96px;
    width:96px;
    display:block;
    position: absolute;
    top:30%;
    left:50%;
    margin-left:-48px;
    margin-top:-48px;
    border: 10px solid rgba(150, 150, 150, 0.2);
    border-radius: 50%;
    border-top-color: rgb(150,150,150);
    animation: rotate 1s 0s infinite ease-in-out alternate;
    z-index:2;
}
@keyframes rotate {
    0%{transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
.spinner-text {
    position: absolute;
    top:50%;
    width: 100%;
    text-align:center;
    z-index:2;
}
.screen-cover {
    position:absolute;
    z-index:1;
    background-color:black;
    width:100%;
    height:100%;
}
.loading {
    opacity:0;
    transition: opacity 0.3s;
}
.load-fade {
    opacity:1;
}
/* END LOADING */

/* DESKTOP */
.icon {
    cursor: pointer;
    width:7em;
    display:block;
    margin:auto;
}
.clickable {
    cursor: pointer;
}
.icon-container {
    max-width:7em;
    text-align:center;
}
.icon-selected {
    background-color:rgba(0, 153, 255, 0.562);
}

.window {
    background-color:white;
    z-index:1;
    /*resize:both; Doesn't work */
    width:20em;
    height:20em;
    border:2px solid black;
    left:3em;
    top:3em;
    opacity:0;
    
}
.window-fast {
    transition: opacity 0.15s;
}
.window-slow {
    transition: opacity 0.3s;
}

.window-header {
    background-color:black;
    cursor:move;
}

.resize {
    position:absolute;
    width:0.7em;
    height:0.7em;
    background-color:grey;
    right:0em;
    bottom:0em;
    opacity: 0;
    cursor: se-resize;
}
.resize:active {
    cursor: nwse-resize;
}

.close {
    position:absolute;
    right:0;
    top:0;
    margin-top:0.2em;
    width:1em;
    height:0.9em;
    background-color:red;
    text-align:center;
}
.right-click {
    width:0; /* Hack because display changes opacity for some reason */
    height:0;
    border:0;
    background-color: rgb(223, 223, 223);
    opacity:0;
    z-index:100;
}
.right-click-visible {
    width:4em;
    height:8em;
    border:0.2em solid black;
    opacity:1;
}
.right-click-invisible {
    opacity:0;
    width:4em;
    height:8em;
    border:0.2em solid black;
}
.right-click-fast {
    transition:opacity 0.15s;
}
.right-click-slow {
    transition:opacity 0.4s;
}

.right-click-menu-member {
    width:4em;
    border:0.2em solid rgb(59, 59, 59);
    background-color: rgb(136, 136, 136);
    box-sizing: border-box;
    transition: background-color 0.3s;
    padding: 0.1em 0.1em;
}
.right-click-menu-member:hover {
    background-color:rgb(69, 121, 216);
}
/* END DESKTOP */

/* FILE SYSTEM */
.file-back-container {
    display:inline;
    margin-right:0.2em;
    cursor: pointer;
}
.file-back {
    filter: invert(100%);
    transform: scaleX(-1);
    width:1em;
    transition: filter 0.1s;
}
.file-back:active {
    filter: invert(80%);
}
/* END FILE SYSTEM */

/* 
REFERENCES:

Cursor: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
SVG Arrow: https://iconmonstr.com/arrow-20-svg/

*/